* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #eeeeee;
    color: #111;
    margin: 0;
}

a, a:visited {
    text-decoration: underline;
    color: #222;
    cursor: pointer;
}

main {
    width: 90%;
    margin: 20px auto;
}

main a:hover {
    font-style: italic;
}

main a:active {
    padding-top: 2px;
}

h1 {
    width: fit-content;
    margin: 20px auto;
}

nav {
    display: inline-block;
    top: 0;
    width: fit-content;
    background-color: #222;
}

.home, .home:visited {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: #eee;
}

.home:hover {
    background-color: #444;
}