

* {
    box-sizing: border-box;
}

:root {
    --main-border-radius: 10px;
    --main-bg-color: #292828;
    --main-bg-color-lite: color-mix(in srgb, var(--main-bg-color) 90%, white);
    --main-bg-color-dark: color-mix(in srgb, var(--main-bg-color) 80%, black);
    --accent-color: #664498;
    --accent-color-lite: color-mix(in srgb, var(--accent-color) 80%, white);
    --accent-color-dark: color-mix(in srgb, var(--accent-color) 80%, black);
    --accent-color-darker: color-mix(in srgb, var(--accent-color) 50%, black);
    --lite-bg-color: #82A6B1;
    --lite-bg-color-dark: color-mix(in srgb, var(--lite-bg-color) 80%, black);
    --lite-bg-color-darker: color-mix(in srgb, var(--lite-bg-color) 50%, black);
    --dark-text-color: #292828;
}

html {
    background-color: var(--main-bg-color);
}

body {
    font-family: 'Lucida Sans Typewriter', sans-serif;
    background-color: var(--main-bg-color-lite);
    color: #c1c1c1;
    width: 60%;
    margin: 10px auto;
    border-radius: var(--main-border-radius);
}

main {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;
}

/* reduce border if screen is medium */
@media (max-width: 1200px) {
    main, body {
        width: 90%;
    }
}

/* reduce border if screen is small */
@media (max-width: 800px) {
    main, body {
        width: 95%;
    }
}

/* reduce border entirely if screen is tiny */
@media (max-width: 800px) {
    main, body {
        width: 99%;
    }
}

a,
a:visited {
    text-decoration: underline;
    color: #c6c0ca;
    cursor: pointer;
}

main a:hover {
    background-color: var(--accent-color-darker);
}

main a:active {
    padding-top: 2px;
}

h1 {
    width: fit-content;
    margin: 20px auto;
}

nav {
    display: inline-block;
    top: 0;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}

.home,
.home:visited {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: var(--main-border-radius) 0 0 0;
}

.home:hover {
    background-color: #482f6c;
}

blockquote {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color: #222222;
    background: rgb(234, 227, 221);
    padding: 1vw 1vh;
    margin: 10px;
}

.item-block {
    background: #28223e;
    display: block;
    padding: 10px 10px;
    margin: 20px auto;
    border-radius: var(--main-border-radius);
}

.item-block h2 {
    font-weight: 800;
    text-align: left;
    font-size: 2em;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.item-block p, .item-block ul {
    text-decoration: none;
    width: 90%;
    font-size: 1.3em;
    margin: 10px auto;
}

button {
    background-color: var(--lite-bg-color);
    color: var(--dark-text-color);
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    word-break: break-word;
    padding: 10px 14px;
    border-radius: 20px;
    box-shadow: 2px 2px 0.5px var(--lite-bg-color-darker);
    outline: 0px solid transparent;
    border: 0;
    margin: 3px;
}

button:hover {
    background-color: var(--lite-bg-color-dark);
}

button:hover:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}