

* {
    box-sizing: border-box;
}

html {
    background-color: #1A8278;
    --main-border-radius: 10px;
    --main-background-color: #e6c184;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--main-background-color);
    color: #111;
    width: 60%;
    margin: 10px auto;
    border-radius: var(--main-border-radius);
}

main {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;
}

/* reduce border if screen is medium */
@media (max-width: 1200px) {
    main, body {
        width: 80%;
    }
}

/* reduce border if screen is small */
@media (max-width: 800px) {
    main, body {
        width: 95%;
    }
}

a,
a:visited {
    text-decoration: underline;
    color: #222;
    cursor: pointer;
}

main a:hover {
    background-color: #faeed4;
}

main a:active {
    padding-top: 2px;
}

h1 {
    width: fit-content;
    margin: 20px auto;
}

nav {
    display: inline-block;
    top: 0;
    width: 100%;
    background-color: #f76e2e;
    border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}

.home,
.home:visited {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: var(--main-border-radius) 0 0 0;
}

.home:hover {
    background-color: #872b00;
}

blockquote {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color: #222222;
    background: rgb(234, 227, 221);
    padding: 1vw 1vh;
    margin: 10px;
}

.item-block {
    background: #ffe8d2;
    display: block;
    padding: 10px 10px;
    margin: 20px auto;
    border-radius: var(--main-border-radius);
}

.item-block h2 {
    font-weight: 800;
    text-align: left;
    font-size: 2em;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.item-block p, .item-block ul {
    text-decoration: none;
    width: 90%;
    font-size: 1.3em;
    margin: 10px auto;
}