.content {
    background: #aaaaaa;
    padding: 20px;
    text-align: left;
    font-size: 110%;
}

p {
    text-indent: 2em;
    margin: 1em 0em;
    padding: 0em 2em;
}

blockquote {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    color: #222222;
    background: lightgrey;
    padding: 1em 2em;
    margin: 0.5em 5em;
}
