section {
    background: #c7c7c7;
    padding: 20px;
    text-align: left;
    font-size: 110%;
    margin-bottom: 2vh;
}

p {
    text-align: justify;
    text-indent: 1.5em;
    margin: 0.5em 0em;
    padding: 0em 1em;
}
