#findableWords {
    font-family: monospace;
    font-size: 2vh;
    display: flex;
    flex-wrap: wrap;
}

.wordColumn {
    flex: auto;
    padding: 0px 10px;
}

@media screen and (max-width: 600px) {
    .wordColumn {
        flex-direction: column;
    }
}

#letters,
#word {
    font-size: 2vh;
}

.letterbox {
    display: inline-block;
    text-align: center;
    border-radius: .5em;
    border: 1px solid black;
    width: 1.5em;
    height: 1.5em;
    margin: 2px;
    padding: 2px;
}

.findable-word {
    display: block;
}

.unfound-word {
    color: red;
}

#settings {
    padding: 10px;
    background-color: #047070;
}

.settings-name {
    font-style: italic;
}

.settings-box {
    /* border: 1px solid gray; */
    margin: 10px;
    padding: 10px;
    /* width: fit-content; */
}

#toggle-settings-bot,
#toggle-settings-top {
    width: 100%;
}

#game {
    padding: 10px;
}