body {
    background-color: hsl(296, 24%, 14%);
    color: hsl(298, 30%, 83%);
}

main {
    width: 90%;
}

#game-info {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#game-info, #question-text, #answer-area {
    margin: 3vh 0;
}

#spotify-embed {
    width: 50%;
    margin: auto;
}

#question-text {
    text-align: center;
}

#loadingText {
    margin: 10px auto;
    text-align: center;
}

.answer-button {
    margin: auto;
    width: fit-content;
    text-align: center;

    font-size: larger;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: hsl(273, 85%, 79%);
    box-shadow: 3px 3px 5px hsl(273, 39%, 47%);
    color: hsl(296, 24%, 14%);
    cursor: pointer;
}

#next-button {
    background-color: hsl(30, 85%, 79%);
    box-shadow: 3px 3px 5px hsl(30, 39%, 47%);
}

.mc-area {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.mc-answer {
    min-width: 50%;
    text-align: center;
}

.mc-answer.correct {
    background-color: hsl(100, 85%, 79%);
    box-shadow: 3px 3px 5px hsl(100, 39%, 47%);
}

.mc-answer.incorrect {
    background-color: hsl(350, 85%, 79%);
    box-shadow: 3px 3px 5px hsl(350, 39%, 47%);
}