.selfpic {
	float: left;
	padding-right: 20px;
}

#selftext {
	width: 1000px;
	color: #aa1111;
}

#biotext {
	
}

.rabbit {
	color: #328A22
}

.tree {
	color: #92532F;
}

.self {
	color: #E81648;
}

.section {
	font-size:30px;
	color: #cc33cc;
}

.item {
	font-size: 18px;
	color: #761D76;
}

.detail {
	font-size: 14px;
	color: #350D35;
	text-indent: 20px;
}